
.login {
    background-image: url("./assets/loginSignup-bg.jpg") 
}

.signup {
    background-image: url("./assets/loginSignup-bg.jpg") 
}

.active-nav{
    font-weight: bold;
    color: black;
}